.flip-card {
  width: 60px;
  height: 60px;
  border-radius: 5.4px;
}
.flip-card-inner{
    border-radius: 5.4px;
}
.flip-card-front{
    border-radius: 5.4px;
    
}
.flip-card-back{
    border-radius: 5.4px;
    
}
img {
    width: 60px;
    height: 60px;
    border-radius: 5.4px;
}
.container {
  min-height: 60vh;
  width: 100vw;
}

#email {
  height: 6.5vh;
}

.cards{
    grid-gap: 0.7rem;
}

.flip-card {
    box-shadow: 0 0 3.1px 2.1px rgb(9, 160, 92);
  }

#username {
    font-size: 1.1rem;
}
#home{
    font-size: 1.1rem;
    width: 3.3rem;

}
