.flip-card {
  width: 40px;
  height: 40px;
  border-radius: 3.7px;
}
.flip-card-inner{
    border-radius: 3.7px;
}
.flip-card-front{
    border-radius: 3.7px;
    
}
.flip-card-back{
    border-radius: 3.7px;
    
}
img {
    width: 40px;
    height: 40px;
    border-radius: 3.7px;
}

.container {
  min-height: 50vh;
  width: 100vw;
}
.cards{
    grid-gap: 0.4rem;
}

.flip-card {
    box-shadow: 0 0 1.5px 1.3px rgb(9, 160, 92);
  }

#email {
  height: 5.5vh;
}

#username {
  font-size: 0.7rem;
}
#home{
    font-size: 0.7rem;
    width: 2.1rem;

}
#myB {
  width: 39%;
  height: 3px;
  color: white;
  background-color: rgb(41, 255, 3);
  box-shadow: 0 0 15px 3px rgb(9, 160, 92);
  line-height: 10vh;
  font-size: 24px;
  font-weight: bold;
}

#myP {
  width: 80%;
  height: 3px;
  background-color: rgb(148, 148, 148);
  border: 2px solid black;
}
h1{
  font-size: 28px;
  background-color: #000;
}
.card{
  display: flex;
  width: 86vw;
  height: 30vh;
  background: #000;
  border: 3px solid white;
  box-shadow: 0 0 20px 7px rgb(242, 0, 255);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;

}
